<a href="https://colab.research.google.com/github/IsmailFadeli/Super_Game/blob/master/Tuples_Lists_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#Tuples
#Slicing
A = (1,2,3,4,5)
A[1:4]
len(("disco", 10,1.2,"hard rock",10))
Ratings = (10,6,2,1,5,4,10,9)
sorted(Ratings)
#Nesting
NT = (1, 2, ("pop", "rock"), (3,4), ("disco", (1,2)))
NT[2][1]

'rock'

In [0]:
#Lists
L = ["M J", 10.1,1982, [1,2],('A',1)]
L[4][0]
#Slicing
L[3:5]
L1 = L + ["pop",10]
L.extend(["pop",10])
L.append(["pop",10])
A = ["hard rock", 10,1.2]
del(A[1])
"A,B,C,D".split(",")
#Cloning
B = A[:]

In [34]:
#Dictionaries
D = { "Thriller": 1980, "Back in Black": 1988}
D

{'Back in Black': 1988, 'Thriller': 1980}

In [44]:
#sets
set1 = {"pop", "rock", "pop"}
set1
#typecasting a list to a set
album_list = ["Micheal jackson", "Thriller", "Thriller", 1982]
album_set = set(album_list)
album_set.add(1988)
album_set.remove(1988)
print("Album set: ", album_set)
"1988" in album_set #this returns true if the element exists in the set and false otherwise

Album set:  {'Micheal jackson', 'Thriller', 1982}

False